Repository blephy/reactjs-typescript-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, markdownlint --fix

chore: update readme
  README.md
Due: prettier --write, markdownlint --fix

feat(logo): add signature svg logo
  package-lock.json
  package.json
  src/components/home/home.tsx
Due: eslint --fix, prettier --write, stylelint --fix

build(webpack): change entry point name
  config/webpack.dev.js
  config/webpack.prod.js
Due: eslint --fix, prettier --write, stylelint --fix

feat(svg): thinkness and animation
  src/components/home/home.scss
  src/components/home/home.tsx
  src/images/signature.svg
Due: eslint --fix, prettier --write, stylelint --fix

chore(lint-staged): add typescript types checking to lint staged
  .lintstagedrc
  .lintstagedrc.js
Due: eslint --fix, prettier --write, stylelint --fix

chore: add MIT licence
  .markdownlintignore
  LICENCE.md
Due: prettier --write, markdownlint --fix

docs: update repository informations
  README.md
  package-lock.json
  package.json
Due: prettier --write, markdownlint --fix

chore(hooks): use npm scripts inside lint-staged
  .lintstagedrc.js
Due: eslint --fix, prettier --write, stylelint --fix

build(css): add postcss plugin to normalize and sanitize with browserslist queries
  config/webpack.dev.js
  config/webpack.prod.js
  package-lock.json
  package.json
  src/app.tsx
  src/styles/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore(lint): enable some lint rules
  .eslintrc
  .stylelintrc.json
Due: none

chore(test): add test configuration with jest
  config/jest.config.js
  config/setupTests.js
  package-lock.json
  package.json
  src/app.spec.ts
  tsconfig.json
Due: eslint --fix, prettier --write, stylelint --fix

test(types): add missing types modules
  package-lock.json
  package.json
Due: none

chore(lint): add coverage folder to ignore files
  .eslintignore
  .prettierignore
  .stylelintignore
Due: none

test(tsconfig): add tsconfig.spec.json
  config/jest.config.js
  tsconfig.spec.json
Due: eslint --fix, prettier --write, stylelint --fix

chore(config): separate config files into specific folders
  config/tests/jest.config.js
  config/tests/setupTests.js
  config/webpack/webpack.dev.js
  config/webpack/webpack.prod.js
  package.json
Due: eslint --fix, prettier --write, stylelint --fix

test(config): repair jest root dir
  config/tests/jest.config.js
Due: eslint --fix, prettier --write, stylelint --fix

chore(vscode): add settings for default formater
  .vscode/settings.json
Due: none

chore(prettier): add more extension files compatibility
  .lintstagedrc.js
  .vscode/settings.json
Due: eslint --fix, prettier --write, stylelint --fix

docs(readme): add prettier style badge
  README.md
Due: prettier --write, markdownlint --fix

ci(actions): add actions for a nodejs project
  .github/workflows/node.js.yml
Due: none

build(webpack): repair build. add security.txt
  config/webpack/webpack.dev.js
  config/webpack/webpack.prod.js
  public/security.txt
Due: eslint --fix, prettier --write, stylelint --fix

build(security): change mail contact
  public/security.txt
Due: none

ci(gitlab): delete gitlab from this repository
  .gitlab-ci.yml
Due: none

chore(lint): add eslint plugin to sort imports
  .babelrc
  .eslintrc
  .lintstagedrc.js
  config/webpack/webpack.dev.js
  config/webpack/webpack.prod.js
  package-lock.json
  package.json
  server/index.ts
  src/app.routes.ts
  src/app.tsx
  src/components/home/index.tsx
  src/components/loader/index.tsx
  src/components/loader/loader.scss
  src/fonts/open-sans/LICENSE.txt
  src/fonts/source-code-pro/SourceCodePro-Black.ttf
  src/fonts/source-code-pro/SourceCodePro-BlackItalic.ttf
  src/fonts/source-code-pro/SourceCodePro-Bold.ttf
  src/fonts/source-code-pro/SourceCodePro-BoldItalic.ttf
  src/fonts/source-code-pro/SourceCodePro-ExtraLight.ttf
  src/fonts/source-code-pro/SourceCodePro-ExtraLightItalic.ttf
  src/fonts/source-code-pro/SourceCodePro-Italic.ttf
  src/fonts/source-code-pro/SourceCodePro-Light.ttf
  src/fonts/source-code-pro/SourceCodePro-LightItalic.ttf
  src/fonts/source-code-pro/SourceCodePro-Medium.ttf
  src/fonts/source-code-pro/SourceCodePro-Medium.woff2
  src/fonts/source-code-pro/SourceCodePro-MediumItalic.ttf
  src/fonts/source-code-pro/SourceCodePro-Regular.ttf
  src/fonts/source-code-pro/SourceCodePro-SemiBold.ttf
  src/fonts/source-code-pro/SourceCodePro-SemiBoldItalic.ttf
  src/index.tsx
  src/styles/index.scss
  tsconfig.json
Due: eslint --fix, prettier --write, stylelint --fix

fix(style): delete unused font
  src/styles/index.scss
Due: prettier --write, stylelint --fix

feat(security): helmet config. CSP config. Report URI config
  README.md
  config/webpack/webpack.prod.js
  server/index.ts
  tsconfig.json
Due: eslint --fix, prettier --write, stylelint --fix, markdownlint --fix

ci(github): add github actions
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/node.js.yml
  .github/workflows/test.yml
  README.md
  package.json
Due: prettier --write, markdownlint --fix

ci(github): missing tiret
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

ci(github): too many tiret in github actions files
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

docs(badge): add tests, build, and lint github action badges
  README.md
Due: prettier --write, markdownlint --fix

test(coveralls): add coveralls integration with github actions
  .github/workflows/test.yml
  README.md
Due: prettier --write, markdownlint --fix

test(jest): configure jest with ts-jest. add mocks
  config/tests/__mocks__/file.mock.js
  config/tests/__mocks__/svgr.mock.js
  config/tests/jest.config.js
  config/webpack/webpack.dev.js
  config/webpack/webpack.prod.js
  package-lock.json
  package.json
  src/@types/scss.d.ts
  tsconfig.json
Due: eslint --fix, prettier --write, stylelint --fix

test: use enzyme to test component. add tests
  src/app.routes.spec.ts
  src/app.spec.ts
  src/app.spec.tsx
  src/components/home/home.spec.tsx
  src/components/loader/loader.spec.tsx
Due: eslint --fix, prettier --write, stylelint --fix

docs: update coverage badge
  README.md
Due: prettier --write, markdownlint --fix

chore(package): delete unused package
  package-lock.json
  package.json
Due: none

revert(deploy): undeploy from heroku
  Procfile
  README.md
Due: prettier --write, markdownlint --fix

build(performance): fix inlined CSP and prefetch/preload assets with webpack
  config/webpack/webpack.prod.js
Due: eslint --fix, prettier --write, stylelint --fix

ci(github): run tests on every pull_request
  .github/workflows/test.yml
Due: none

build: security and load performance
  config/webpack/webpack.prod.js
  package-lock.json
  package.json
  server/index.ts
  src/app.routes.ts
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss,sass,js,jsx,ts,tsx,html})) or (any of: *.md)
  stylelint --fix: any of: *.{css,scss,sass,js,jsx,ts,tsx,html}
  markdownlint --fix: any of: *.md
