Repository blephy/reactjs-typescript-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, markdownlint --fix

chore: disable cache from copy webpack plugin. Improve HTTPS env variable condition
  config/webpack/webpack.dev.ts
  config/webpack/webpack.prod.ts
Due: eslint --fix, prettier --write, stylelint --fix

ci(lighthouse): add 404 url to process
  .lighthouserc.js
  src/views/not-found/index.tsx
  src/views/not-found/not-found.spec.tsx
Due: eslint --fix, prettier --write, stylelint --fix

chore: fix @typescript-eslint/parser issue in VScode
  .eslintignore
  config/tests/__mocks__/svgr.mock.jsx
  config/tests/jest.config.js
  tsconfig.json
Due: eslint --fix, prettier --write, stylelint --fix

fix: resolve @typescript-eslint/unbound-method issue
  src/components/loader/loader.spec.tsx
  src/views/home/home.spec.tsx
Due: eslint --fix, prettier --write, stylelint --fix

test: do not include loadable component in coverage
  config/tests/jest.config.js
Due: eslint --fix, prettier --write, stylelint --fix

test: find a better way to test css modules
  src/components/loader/loader.spec.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: lighthouse performance preloading
  config/webpack/webpack.prod.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: preload app chunks to improve lighthouse performance
  config/webpack/webpack.prod.ts
Due: eslint --fix, prettier --write, stylelint --fix

ci: add default env variables on every jobs
  .github/workflows/ci.yml
Due: none

test: remove loadable component file from coverage
  sonar-project.properties
Due: none

chore: use core-js 3 with babel
  .babelrc
  .browserslistrc
  babel.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, stylelint --fix

chore: move postcss config into js file
  .postcssrc.json
  postcss.config.js
Due: eslint --fix, prettier --write, stylelint --fix

docs: improve documentation
  README.md
  public/humans.txt
  server/index.ts
  sonar-project.properties
Due: eslint --fix, prettier --write, stylelint --fix, markdownlint --fix

chore: force local typescript version when openning the project workspace in VScode
  .vscode/settings.json
Due: none

chore: add ts options to postcssNormalize
  config/@types/postcss.normalize.d.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: downgrade postcss-loader config for postcssNormalize
  config/webpack/webpack.dev.ts
  config/webpack/webpack.prod.ts
Due: eslint --fix, prettier --write, stylelint --fix

docs: delete unused env var from README
  README.md
Due: prettier --write, markdownlint --fix

chore: fix typescript issues
  tsconfig.json
  tsconfig.spec.json
Due: none

ci: delete sonarqube reports lint
  .github/workflows/ci.yml
  sonar-project.properties
Due: none

chore: change browserslist configuration to match environment
  .browserslistrc
  README.md
  babel.config.js
Due: eslint --fix, prettier --write, stylelint --fix, markdownlint --fix

chore: add cross-env for windows users
  config/webpack/webpack.dev.ts
  config/webpack/webpack.prod.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, stylelint --fix

docs: center badges
  .markdownlint.json
  README.md
  config/@types/sitemap.webpack.plugin.d.ts
Due: eslint --fix, prettier --write, stylelint --fix, markdownlint --fix

chore: move from eslint-loader to eslint-webpack-plugin
  config/webpack/webpack.dev.ts
  config/webpack/webpack.prod.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, stylelint --fix

docs: center badges in README
  .markdownlint.json
  README.md
Due: prettier --write, markdownlint --fix

chore: add webpack-pwa-manifest and improve documentation
  README.md
  config/@types/webpack.pwa.manifest.d.ts
  config/webpack/webpack.prod.ts
  package-lock.json
  package.json
  public/assets/favicon.32x32.png
  public/assets/react-icon.1024x909.png
  public/favicon.png
  src/views/home/home.spec.tsx
  src/views/home/index.tsx
  tsconfig.json
  tsconfig.webpack.json
Due: eslint --fix, prettier --write, stylelint --fix, markdownlint --fix

chore(lint): disable @typescript-eslint/no-floating-promises rule
  .eslintignore
  .eslintrc
  .gitignore
  .prettierignore
  .stylelintignore
Due: none

feat: :fire: added service worker into the app
  .huskyrc
  README.md
  config/service-worker/inject-manifest.ts
  config/service-worker/workbox-config.ts
  config/tests/jest.config.js
  config/webpack/app.dev.ts
  config/webpack/app.prod.ts
  config/webpack/service-worker.prod.ts
  package-lock.json
  package.json
  public/assets/react-icon.1024x909.png
  server/index.ts
  sonar-project.properties
  src/images/pwa-react-512x392.png
  src/index.tsx
  src/public/favicon-32x32.png
  src/public/humans.txt
  src/public/pwa-logo-1024x386.png
  src/public/robots.txt
  src/public/security.txt
  src/public/templates/index.ejs
  src/service-worker.ts
  src/views/home/index.tsx
  tsconfig.json
  tsconfig.webpack.json
Due: eslint --fix, prettier --write, stylelint --fix, markdownlint --fix

ci: enable pwa check by lighthouse
  .lighthouserc.js
Due: eslint --fix, prettier --write, stylelint --fix

ci: run lighthouse with recommended preset. Add sw build to build step
  .github/workflows/ci.yml
  .lighthouserc.js
Due: eslint --fix, prettier --write, stylelint --fix

ci: delete public folder from sonarqube sources
  sonar-project.properties
Due: none

fix: sonarqube code smell
  src/service-worker.ts
Due: eslint --fix, prettier --write, stylelint --fix

ci: only warn about maskable-icon-audit
  .lighthouserc.js
Due: eslint --fix, prettier --write, stylelint --fix

ci: run lighthouse 5 times on each urls
  .lighthouserc.js
Due: eslint --fix, prettier --write, stylelint --fix

fix: img in README
  README.md
Due: prettier --write, markdownlint --fix

docs: fix pwa logo in README
  README.md
Due: prettier --write, markdownlint --fix

chore: support only modern browsers in production
  .browserslistrc
  config/webpack/app.prod.ts
Due: eslint --fix, prettier --write, stylelint --fix

ci: only warn for maskable-icon-audit with lighthouse
  .lighthouserc.js
Due: eslint --fix, prettier --write, stylelint --fix

chore: delete comments
  config/service-worker/inject-manifest.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: use CRA browserslist queries
  .browserslistrc
Due: none

feat: add ability to debug service worker in local production
  README.md
  package.json
Due: prettier --write, markdownlint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss,sass,js,jsx,ts,tsx,html})) or (any of: *.md)
  stylelint --fix: any of: *.{css,scss,sass,js,jsx,ts,tsx,html}
  markdownlint --fix: any of: *.md
