Repository blephy/reactjs-typescript-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, markdownlint --fix

.lintstagedrc:

{
	"*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
	"*.{css,scss,sass,js,jsx,ts,tsx,html}": ["stylelint --fix", "prettier --write"],
	"*.md": ["markdownlint --fix", "prettier --write"]
}

chore: delete cssnano from postcss and let css-minimizer-webpack-plugin to run cssnano
  README.md
  package.json
  postcss.config.js
Due: eslint --fix, prettier --write, stylelint --fix, markdownlint --fix

docs: update issues
  README.md
Due: prettier --write, markdownlint --fix

chore: delete color-mod-function from postcss
  postcss.config.js
Due: eslint --fix, prettier --write, stylelint --fix

feat(seo): add some bots example
  public/robots.txt
Due: none

feat(security): add security.txt commented properties
  public/security.txt
Due: none

chore: type def webpack configs
  config/@types/postcss.normalize.d.ts
  config/@types/preload.webpack.plugin.d.ts
  config/@types/sitemap.webpack.plugin.d.ts
  config/@types/webpack.pwa.manifest.d.ts
  config/webpack/app.dev.ts
  config/webpack/app.prod.ts
  config/webpack/service-worker.dev.ts
  config/webpack/service-worker.prod.ts
  public/favicon.32.png
  public/humans.txt
  public/templates/index.ejs
Due: eslint --fix, prettier --write, stylelint --fix

feat: delete env variable APP_TITLE. Add service worker message types
  README.md
  config/webpack/app.dev.ts
  config/webpack/app.prod.ts
  src/service-worker.constants.ts
  src/service-worker.ts
  src/views/home/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix, markdownlint --fix

chore: fix HMR with loadable component library
  config/webpack/app.dev.ts
  package-lock.json
  package.json
  src/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

test: add service-worker constants tests
  src/service-worker.constants.spec.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: add schema-dts to type def rich snippets
  config/tests/jest.config.js
  package-lock.json
  package.json
  sonar-project.properties
  src/app.tsx
  src/database/rich-snippets/me.json
  src/database/rich-snippets/me.ts
  src/views/home/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: beautify the loader
  src/app.routes.ts
  src/app.tsx
  src/components/loader/index.tsx
  src/components/loader/loader.module.scss
  src/images/loader.svg
  src/images/pwalogo.svg
  src/images/signature.svg
  src/index.tsx
  src/views/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: responsive images with lighthouse
  config/webpack/app.dev.ts
  config/webpack/app.prod.ts
  src/views/home/home.module.scss
  src/views/home/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

chore: delete reports declarations
  .eslintignore
  .eslintrc
  .gitignore
  .prettierignore
  .stylelintignore
  public/templates/index.ejs
  sonar-project.properties
  tsconfig.json
Due: none

chore: try to involved legacy-javascript in lighthouse. Waiting es6 module with webpack 5
  .browserslistrc
Due: none

feat(perf): app performances in ligthouse. do not serve legacy javascript
  .browserslistrc
  .vscode/settings.json
  README.md
  config/webpack/app.prod.ts
Due: eslint --fix, prettier --write, stylelint --fix, markdownlint --fix

chore: refacto preload config. add title to app without env variable
  config/webpack/app.prod.ts
  src/app.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: delete unused css rules
  src/views/home/home.module.scss
Due: prettier --write, stylelint --fix

fix: offline mode with .mjs files
  config/service-worker/workbox.config.ts
  src/service-worker.ts
  src/views/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

chore: clean repository
  .browserslistrc
  .eslintrc
  .vscode/settings.json
  README.md
  config/webpack/app.dev.ts
  config/webpack/app.prod.ts
  config/webpack/service-worker.dev.ts
  config/webpack/service-worker.prod.ts
  public/templates/index.ejs
  src/app.tsx
  src/service-worker/index.ts
  src/service-worker/service-worker.constants.spec.ts
  src/service-worker/service-worker.constants.ts
  src/views/home/home.module.scss
  tsconfig.json
  tsconfig.webpack.json
Due: eslint --fix, prettier --write, stylelint --fix, markdownlint --fix

chore: exclude service worker file from coverage
  config/tests/jest.config.js
  sonar-project.properties
Due: eslint --fix, prettier --write, stylelint --fix

chore: update dependencies
  package-lock.json
  package.json
Due: none

chore: add rxjs
  package-lock.json
  package.json
Due: none

chore: fix local build injecting precache into service-worker
  config/webpack/service-worker.dev.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: add service worker service. add a popup to update app
  src/app.tsx
  src/components/error-boundary/index.tsx
  src/components/new-version-popup/index.tsx
  src/components/new-version-popup/new-version-popup.spec.tsx
  src/index.tsx
  src/service-worker/index.ts
  src/service-worker/service-worker.constants.spec.ts
  src/service-worker/service-worker.constants.ts
  src/services/service-worker.spec.ts
  src/services/service-worker.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: add module es6 .mjs output and modulepreload
  config/service-worker/workbox.config.ts
  config/webpack/app.prod.ts
  src/views/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

chore: fix coverage
  .eslintignore
  .gitattributes
  config/tests/jest.config.js
  sonar-project.properties
Due: eslint --fix, prettier --write, stylelint --fix

feat: make observable state readonly
  src/frontend/services/service-worker.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: repair fallback
  config/tests/jest.config.js
  config/webpack/app.dev.ts
  config/webpack/app.prod.ts
  package-lock.json
  package.json
  public/templates/index.ejs
  sonar-project.properties
  src/@types/express-history-api-fallback.d.ts
  src/backend/index.ts
  src/backend/server.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: resolve render blocking resource
  config/webpack/app.prod.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore(lighthouse): add assertion
  .lighthouserc.js
Due: eslint --fix, prettier --write, stylelint --fix

feat: change loader
  src/frontend/components/loader/index.tsx
  src/frontend/components/loader/loader.module.scss
  src/frontend/images/loader.svg
Due: eslint --fix, prettier --write, stylelint --fix

feat: add logger in backend
  .github/workflows/ci.yml
  config/webpack/server.dev.ts
  package-lock.json
  package.json
  src/backend/index.ts
  src/backend/logger.ts
  src/backend/server.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix lhci
  .lighthouserc.js
Due: eslint --fix, prettier --write, stylelint --fix

ci: do not use https
  .github/workflows/ci.yml
Due: none
