Repository blephy/reactjs-typescript-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, markdownlint --fix

feat(pwa): add service-worker local debug for production bundle
  .github/workflows/ci.yml
  README.md
  config/service-worker/inject-manifest.ts
  config/service-worker/workbox-config.ts
  config/webpack/app.dev.ts
  config/webpack/app.prod.ts
  config/webpack/service-worker.dev.ts
  src/public/templates/index.ejs
Due: eslint --fix, prettier --write, stylelint --fix, markdownlint --fix

feat(pwa): improve service worker cache
  src/service-worker.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(csp): fix browsers error for manifest-src directive
  server/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: change application colors and home view
  src/@types/png.d.ts
  src/@types/scss.d.ts
  src/@types/svg.d.ts
  src/components/loader/loader.module.scss
  src/index.tsx
  src/styles/index.scss
  src/styles/theme/_colors.scss
  src/views/home/home.module.scss
  src/views/home/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: add webp declaration file
  src/@types/webp.d.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: add webp test to url-loader
  config/webpack/app.dev.ts
  config/webpack/app.prod.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: add automatic responsive image and convert into webp
  config/webpack/app.dev.ts
  config/webpack/app.prod.ts
  package-lock.json
  package.json
  public/favicon-32x32.png
  public/humans.txt
  public/pwa-react-logo.png
  public/robots.txt
  public/security.txt
  public/templates/index.ejs
  src/@types/png.d.ts
  src/images/pwa-react-512x392.png
  src/images/pwa-react-uhd-trans.png
  src/images/pwa-react-uhd.png
  src/images/pwalogo.svg
  src/public/favicon-32x32.png
  src/public/pwa-logo-1024x386.png
  src/views/home/home.module.scss
  src/views/home/index.tsx
  tsconfig.json
Due: eslint --fix, prettier --write, stylelint --fix

feat: improve lhci performances
  README.md
  config/webpack/app.dev.ts
  config/webpack/app.prod.ts
  public/favicon-32x32.png
  src/@types/jpeg.d.ts
  src/@types/jpg.d.ts
  src/@types/png.d.ts
  src/styles/theme/_fonts.scss
  src/views/home/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix, markdownlint --fix

chore: add informations to inject manifest script
  config/service-worker/inject-manifest.ts
  sonar-project.properties
Due: eslint --fix, prettier --write, stylelint --fix

feat: improve pwa compatibility on ios mobile device
  config/@types/webpack.pwa.manifest.d.ts
  config/webpack/app.prod.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: preload home chunk. add attr to img for lighthouse
  config/webpack/app.prod.ts
  src/views/home/home.module.scss
  src/views/home/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: add maskable to android pwa icons
  config/webpack/app.prod.ts
  src/views/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: waiting webpack-pwa-manifest to update his declaration files in order to build app
  config/webpack/app.prod.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: improve development experience
  config/webpack/app.dev.ts
Due: eslint --fix, prettier --write, stylelint --fix

docs: add logo on README
  README.md
Due: prettier --write, markdownlint --fix

chore(webpack): make development process faster
  config/webpack/app.dev.ts
  config/webpack/app.prod.ts
  config/webpack/service-worker.dev.ts
  config/webpack/service-worker.prod.ts
Due: eslint --fix, prettier --write, stylelint --fix

docs: add lighthouse report. add how to section
  .markdownlint.json
  README.md
  server/index.ts
  src/views/home/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix, markdownlint --fix

docs: add features and commands lists
  README.md
  package.json
Due: prettier --write, markdownlint --fix

docs: rename project
  README.md
  package.json
  sonar-project.properties
  src/views/home/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix, markdownlint --fix

feat: seo purpose
  public/robots.txt
Due: none

feat(security): add Report-To header
  server/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: add .gitattributes for windows users
  .gitattributes
Due: none

chore: adapting sonarqube configuration
  sonar-project.properties
Due: none

chore: fix sonarqube shallow clone on ci
  .github/workflows/ci.yml
Due: none

chore: move jest sonarqube reporter config
  config/tests/jest.config.js
  package.json
Due: eslint --fix, prettier --write, stylelint --fix

chore: rename workbox config file
  config/service-worker/inject-manifest.ts
  config/service-worker/workbox.config.ts
Due: eslint --fix, prettier --write, stylelint --fix

test: exclude config folder from test analysis
  sonar-project.properties
Due: none

chore: add debug to sonarqube analysis
  sonar-project.properties
Due: none

ci: debug execution tests report
  .github/workflows/ci.yml
  sonar-project.properties
Due: none

ci: debug
  .github/workflows/ci.yml
Due: none

test: fix jest unit reporter configuration
  config/tests/jest.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, stylelint --fix

ci: sonarqube working
  .github/workflows/ci.yml
  sonar-project.properties
Due: none

ci: move from jest-sonar-reporter to jest-sonar for sonarqube test execution report
  config/tests/jest.config.js
  package-lock.json
  package.json
  sonar-project.properties
Due: eslint --fix, prettier --write, stylelint --fix

ci: add codeql analysis for security issues
  .github/workflows/codeql-analysis.yml
Due: none

chore: change sonarqube project key
  sonar-project.properties
Due: none

feat: app performance optimization
  config/webpack/app.dev.ts
  config/webpack/app.prod.ts
  src/views/home/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

fix: dead code
  config/webpack/app.dev.ts
  config/webpack/app.prod.ts
Due: eslint --fix, prettier --write, stylelint --fix

docs: fix ci badges
  README.md
Due: prettier --write, markdownlint --fix

chore: add WebWorker and DOM to tsconfig lib property
  tsconfig.json
Due: none

feat: use type def WebWorker in service-worker.ts
  src/service-worker.ts
  tsconfig.webpack.json
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss,sass,js,jsx,ts,tsx,html})) or (any of: *.md)
  stylelint --fix: any of: *.{css,scss,sass,js,jsx,ts,tsx,html}
  markdownlint --fix: any of: *.md
