Repository blephy/reactjs-typescript-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, markdownlint --fix

.lintstagedrc:

{
	"*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
	"*.{css,scss,sass,js,jsx,ts,tsx,html}": ["stylelint --fix", "prettier --write"],
	"*.md": ["markdownlint --fix", "prettier --write"]
}

ci: add coverage artefact
  .github/workflows/ci.yml
Due: none

docs: maj badge
  README.md
Due: prettier --write, markdownlint --fix

ci: re-order badge and edit sonarqube sources
  README.md
  sonar-project.properties
Due: prettier --write, markdownlint --fix

ci(sonarq): edit sources
  .github/workflows/ci.yml
  config/webpack/webpack.dev.js
  config/webpack/webpack.prod.js
  sonar-project.properties
Due: eslint --fix, prettier --write, stylelint --fix

ci(sonarq): edit sonar-project.properties
  sonar-project.properties
Due: none

chore: delete unicorn from eslint config
  .eslintrc
  package-lock.json
  package.json
Due: none

test: add error boundary tests
  config/webpack/webpack.prod.js
  server/index.ts
  src/app.routes.ts
  src/components/error-boundary/error-boundary.spec.tsx
  src/components/home/home.spec.tsx
  src/components/index.tsx
  src/styles/index.scss
  tsconfig.json
Due: eslint --fix, prettier --write, stylelint --fix

ci: add lighthouse to ci
  .github/workflows/ci.yml
  lighthouserc.js
Due: eslint --fix, prettier --write, stylelint --fix

ci: adapt lhci on ci
  .github/workflows/ci.yml
Due: none

ci: add npx to lhci command
  .github/workflows/ci.yml
Due: none

ci: improve app perf
  .browserslistrc
  config/webpack/webpack.prod.js
  lighthouserc.js
  package-lock.json
  package.json
  src/components/home/index.tsx
  src/styles/theme/_fonts.scss
Due: eslint --fix, prettier --write, stylelint --fix

ci: make lighthouse more restrictive
  lighthouserc.js
Due: eslint --fix, prettier --write, stylelint --fix

chore: upgrade dependencies
  config/webpack/webpack.dev.js
  config/webpack/webpack.prod.js
  package-lock.json
  package.json
  tsconfig.json
Due: eslint --fix, prettier --write, stylelint --fix

ci: add bundle stats to ci
  .github/workflows/ci.yml
  README.md
  config/webpack/webpack.prod.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, stylelint --fix, markdownlint --fix

ci: use another bundle stats action
  .github/workflows/ci.yml
Due: none

ci: use relativeci agent
  .github/workflows/ci.yml
  config/webpack/webpack.prod.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, stylelint --fix

ci: add relative ci agent
  package-lock.json
Due: none

chore: delete webpack bundle analyzer
  README.md
  package-lock.json
  package.json
Due: prettier --write, markdownlint --fix

Update README.md
  README.md
Due: prettier --write, markdownlint --fix

chore(lighthouse): use tempory public storage and add url
  lighthouserc.js
Due: eslint --fix, prettier --write, stylelint --fix

ci: add LHCI_GITHUB_APP_TOKEN to lighthouse step
  .github/workflows/ci.yml
  lighthouserc.js
Due: eslint --fix, prettier --write, stylelint --fix

feat: add hpp to securize server
  package-lock.json
  package.json
  server/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: convert into css modules
  .stylelintrc.json
  public/templates/index.ejs
  src/components/home/home.module.scss
  src/components/home/index.tsx
  src/components/loader/index.tsx
  src/components/loader/loader.module.scss
  src/images/signature.svg
  src/index.tsx
  src/styles/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore: add a clean command
  package.json
Due: none

feat: add css module test and share css variables
  src/components/home/home.spec.tsx
  src/components/loader/loader.module.scss
  src/components/loader/loader.spec.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: add react-helmet to improve SEO
  README.md
  config/index.js
  config/webpack/webpack.dev.js
  config/webpack/webpack.prod.js
  package-lock.json
  package.json
  public/templates/index.ejs
  server/index.ts
  src/app.routes.spec.ts
  src/app.routes.ts
  src/app.tsx
  src/components/error-boundary/error-boundary.spec.tsx
  src/components/home/home.spec.tsx
  src/components/home/index.tsx
  src/components/index.tsx
  src/components/not-found/index.tsx
  src/components/not-found/not-found.spec.tsx
  src/database/rich-snippets/me.json
Due: eslint --fix, prettier --write, stylelint --fix, markdownlint --fix

fix: desactive canonical from lhci
  lighthouserc.js
Due: eslint --fix, prettier --write, stylelint --fix

fix: lhci/url by providing pull request hash in checkout steps
  .github/workflows/ci.yml
Due: none

chore: add postcss
  package-lock.json
  package.json
Due: none

ci: uninstall relative-ci agent
  .github/workflows/ci.yml
  config/webpack/webpack.prod.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, stylelint --fix

chore: add webpack bundle analyzer
  README.md
  package-lock.json
  package.json
Due: prettier --write, markdownlint --fix

chore: rename lighthouserc.js causing linting issue
  .lighthouserc.js
Due: eslint --fix, prettier --write, stylelint --fix

chore: convert webpack to typescript configuration language
  .eslintignore
  config/@types/postcss.normalize.d.ts
  config/@types/preload.webpack.plugin.d.ts
  config/@types/sitemap.webpack.plugin.d.ts
  config/index.js
  config/index.ts
  config/tests/__mocks__/svgr.mock.js
  config/webpack/webpack.dev.ts
  config/webpack/webpack.prod.ts
  package-lock.json
  package.json
  tsconfig.json
  tsconfig.webpack.json
Due: eslint --fix, prettier --write, stylelint --fix

chore: add dotenv
  .eslintignore
  .gitignore
  .lighthouserc.js
  README.md
  config/index.ts
  config/tests/jest.config.js
  config/webpack/webpack.dev.ts
  config/webpack/webpack.prod.ts
  package-lock.json
  package.json
  server/index.ts
  src/app.routes.ts
  src/app.tsx
  src/components/index.tsx
  src/views/home/home.module.scss
  src/views/home/home.spec.tsx
  src/views/home/index.tsx
  src/views/index.tsx
  src/views/not-found/index.tsx
  src/views/not-found/not-found.spec.tsx
  tsconfig.json
Due: eslint --fix, prettier --write, stylelint --fix, markdownlint --fix

fix: lighthouse in node environnement does not accept JSON.parse
  server/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

ci: add env variables to lhci step
  .github/workflows/ci.yml
Due: none

docs: add usefull links section to README
  README.md
Due: prettier --write, markdownlint --fix

feat: add default canonical url in app.tsx
  src/app.tsx
Due: eslint --fix, prettier --write, stylelint --fix
