Repository blephy/reactjs-typescript-pwa: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, markdownlint --fix

chore(seo): fix robots.txt
  config/webpack/webpack.prod.js
  public/robots.txt
Due: eslint --fix, prettier --write, stylelint --fix

ci(test): change to codecov reporter
  .github/workflows/test.yml
Due: none

ci(codecov): delete token because of public repository
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

ci(codecov): delete tiret
  .github/workflows/test.yml
Due: none

docs(badge): change coverage badge to codecov
  README.md
Due: prettier --write, markdownlint --fix

ci(lint): run lint only on push master and PR because of lint-staged
  .github/workflows/lint.yml
Due: none

chore: lint and review public folder
  public/humans.txt
  public/templates/index.ejs
Due: none

chore(lint): add htmllint to workflow
  .eslintrc
  .htmlhintrc
  .lintstagedrc.js
  .stylelintignore
  .vscode/extensions.json
  README.md
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, stylelint --fix, markdownlint --fix

ci(github): add nodejs 11 and 12 to matrix
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .stylelintignore
  config/webpack/webpack.dev.js
  config/webpack/webpack.prod.js
Due: eslint --fix, prettier --write, stylelint --fix

feat(font): add woff2 fonts
  src/fonts/open-sans/OpenSans-Bold.woff2
  src/fonts/open-sans/OpenSans-BoldItalic.woff2
  src/fonts/open-sans/OpenSans-ExtraBold.woff2
  src/fonts/open-sans/OpenSans-ExtraBoldItalic.woff2
  src/fonts/open-sans/OpenSans-Italic.woff2
  src/fonts/open-sans/OpenSans-Light.woff2
  src/fonts/open-sans/OpenSans-LightItalic.woff2
  src/fonts/open-sans/OpenSans-Regular.woff2
  src/fonts/open-sans/OpenSans-SemiBold.woff2
  src/fonts/open-sans/OpenSans-SemiBoldItalic.woff2
Due: none

feat(scss): import all from sanitize, add theme and scss utils
  src/styles/index.scss
  src/styles/theme/_colors.scss
  src/styles/theme/_fonts.scss
  src/styles/theme/index.scss
  src/styles/utils/_bem.scss
  src/styles/utils/index.scss
Due: prettier --write, stylelint --fix

chore(stylelint): ignore special import rules
  .stylelintrc.json
Due: none

chore: uninstall core-js
  package-lock.json
  package.json
Due: none

chore(eslint): delete jest globals
  .eslintrc
Due: none

chore(webpack): fix css builds and delete preload
  config/webpack/webpack.prod.js
Due: eslint --fix, prettier --write, stylelint --fix

feat: add 404 pages and split code
  .commitlintrc.json
  src/app.routes.spec.ts
  src/app.routes.ts
  src/components/home/home.spec.tsx
  src/components/home/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

feat: add 404 page to app
  src/components/index.tsx
  src/components/not-found/index.tsx
  src/components/not-found/not-found.spec.tsx
Due: eslint --fix, prettier --write, stylelint --fix

build: add .well-known folder for sitemap and security.txt
  config/webpack/webpack.prod.js
Due: eslint --fix, prettier --write, stylelint --fix

feat: add error boundary
  src/app.routes.ts
  src/app.tsx
  src/components/error-boundary/index.tsx
  src/components/loader/index.tsx
  src/components/not-found/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

Add Codacy badge
  README.md
Due: prettier --write, markdownlint --fix

docs: Add codacy badge
  README.md
Due: prettier --write, markdownlint --fix

docs: add hits badge
  README.md
Due: prettier --write, markdownlint --fix

test: add sonarqube
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  config/tests/jest.config.js
  package-lock.json
  package.json
  sonar-project.properties
Due: eslint --fix, prettier --write, stylelint --fix

feat(error): add error boundary
  src/components/error-boundary/error-boundary.spec.tsx
  src/components/error-boundary/index.tsx
Due: eslint --fix, prettier --write, stylelint --fix

test(sonar): add sonar token
  .github/workflows/test.yml
Due: none

ci: revert matrix to node 12.x and delete sonarcloud action
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: none

ci: disable auto analysis and add github action for sonarcloud
  .github/workflows/test.yml
Due: none

chore(sonarq): add UTF-8 to sonar
  sonar-project.properties
Due: none

ci(sonarqube): setting sonarqube
  sonar-project.properties
Due: none

docs: add sonarqube badge
  README.md
Due: prettier --write, markdownlint --fix

ci(sonarqube): setting sonarqube
  README.md
  sonar-project.properties
Due: prettier --write, markdownlint --fix

ci: add lint reports to sonarcloud. Refacto ci
  .eslintignore
  .github/workflows/build.yml
  .github/workflows/ci.yml
  .github/workflows/lint.yml
  .gitignore
  .prettierignore
  .stylelintignore
  package.json
  sonar-project.properties
  tsconfig.json
Due: none

ci: add cache to jobs
  .github/workflows/ci.yml
  README.md
Due: prettier --write, markdownlint --fix

ci: add cache to jobs
  .github/workflows/ci.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,scss,sass,js,jsx,ts,tsx,html})) or (any of: *.md)
  stylelint --fix: any of: *.{css,scss,sass,js,jsx,ts,tsx,html}
  markdownlint --fix: any of: *.md
